.file-row {
  display: grid;
  grid-template-columns: 1fr 10rem 8rem 8rem 5rem 48px 48px;
  gap: 16px;
  align-items: center;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.2s ease;
  cursor: pointer;
  min-height: 48px;
  flex-wrap: nowrap;

  &:hover {
    background-color: var(--color-surface-2);
  }

  .file-info {
    display: flex;
    align-items: center;
    gap: 12px;
    min-width: 0; // Allow text truncation

    .file-icon {
      line-height: 0;
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--color-text-muted);

      svg {
        width: 24px;
        height: 24px;
      }
    }

    .file-details {
      min-width: 0; // Allow text truncation
      flex: 1;

      .file-name {
        font-size: 14px;
        font-weight: 400;
        color: var(--color-text);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
      }
    }
  }

  .file-owner,
  .file-date,
  .file-size {
    font-size: 13px;
    color: var(--color-text-muted);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .action-button {
    width: 32px;
    height: 32px;
    border: none;
    background: transparent;
    border-radius: 60%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--color-text-muted);
    transition: background-color 0.2s ease;
    opacity: 75%;
    flex-shrink: 0;

    &:hover {
      background-color: var(--color-border-hover);
    }
  }

  &:hover .action-button {
    opacity: 1;
  }
}

// Responsive adjustments
@media (max-width: 1024px) {
  .file-row {
    grid-template-columns: 1fr 5rem 5rem 4rem 32px 32px;
    gap: 0.7rem;
    .file-date {

    }
    #uploadedAt {
      display: none;
    }
  }
}

@media (max-width: 870px) {
  .file-row {
    grid-template-columns: 1fr 32px 32px;
    .file-owner,
    .file-date,
    .file-size {
      display: none;
    }

    .action-button {
      margin-left: 0;
    }

    .file-info .file-details .file-name {
      font-size: 13px;
    }
  }
}
