:host{
  .drag-overlay-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(66, 133, 244, 0.1);
    border: 2px dashed #4285f4;
    pointer-events: none;

    p {
      font-size: 24px;
      color: #4285f4;
      font-weight: 500;
    }
  }
}
