.app-layout {
  display: grid;
  grid-template-columns: 250px 1fr 63px;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header header header'
    'sidebar main aside';
  height: 100dvh;
  background-color: var(--color-surface-app);
}

.main {
  background-color: var(--color-surface-1);
  grid-area: main;
  padding: 1rem;
  overflow: auto;
  border-radius: 1rem 0 0 0;
}
