.app-layout {
  display: grid;
  grid-template-columns: 250px 1fr 50px;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header header header'
    'sidebar main aside';
  height: 100dvh;
}

.main {
  background-color: #fefeff;
  grid-area: main;
  padding: 1rem;
  overflow: auto;
}
