.app-layout {
  display: grid;
  grid-template-columns: 250px 1fr 57px;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header header header'
    'sidebar main aside';
  height: 100dvh;
  width: 100dvw;
  background-color: var(--color-panels-bg);
}

.main {
  background-color: var(--color-surface-1);
  grid-area: main;
  padding: 1rem;
  overflow: auto;
  scrollbar-color: transparent;
}

@media (max-width: 768px) {
  .app-layout {
    grid-template-columns: 1fr 2fr;
    gap: 0.5rem;
  }
}

