:host {
  background-color: var(--color-panels-bg);
  grid-area: aside;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-left: 1px solid var(--color-border-subtle); // Optional: visual separation
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center; // Centers the buttons horizontally in the aside
  gap: 1rem;
  padding-top: 1rem;
  overflow-y: auto;
  flex: 1;
}

.spacer {
  flex: 0 0 auto;
}

// Responsive adjustments
@media (max-width: 1024px) {

}

@media (max-width: 768px) {
  :host{
    display: none;
  }
}
