:host {
    background-color: var(--color-panels-bg);
    grid-area: aside;
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: hidden;

    button {
        border: none;
        border-radius: 8px;
        background-color: var(--color-chip);
        padding: 12px 16px;

        svg {
            width: 1rem;
            height: 1rem;
            stroke: currentColor;
            fill: none;
            stroke-width: 1.5;
        }

        &:hover {
            cursor: pointer;
            background-color: var(--color-hover-overlay);
        }
    }
}

