:host {
  background-color: var(--color-panels-bg);
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.storage-bar {
  width: 80%;
  height: 4px;
  background-color: var(--color-border-subtle);
  border-radius: 8px;
  overflow: hidden;
  margin-top: 12px;
  margin: 0.5rem auto;
}

.storage-fill {
  height: 100%;
  background-color: var(--color-primary);
  border-radius: 8px;
  transition: width 0.3s ease;
}

p {
  margin: 0;
  padding-left: 16px;
  padding-bottom: 12px;
  font-size: 12px;
  color: var(--color-text-muted);
}
