:host {
  background-color: #f8fafd;
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  height: 100%;
}

hr {
  width: 80%;
  border: 2px solid rgba(128, 128, 128, 0.7);
  border-radius: 8px;
}

p {
  margin: 0;
  padding: 12px 16px;
  font-size: 12px;
}
