:host {
  background-color: var(--color-panels-bg);
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  height: 100%;
}

hr {
  width: 80%;
  border: 2px solid var(--color-border-subtle);
  border-radius: 8px;
}

p {
  margin: 0;
  padding: 12px 16px;
  font-size: 12px;
  color: var(--color-text-muted);
}
