:host {
    background-color: rgb(236, 241, 243);
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;

    button {
        border-radius: 8px;
        background-color: rgb(212, 237, 236);
        border: none;
        font-size: 14px;
        cursor: pointer;
        padding: 12px 16px;
        text-align: left;

        &:hover {
            cursor: pointer;
        }
    }
}

hr {
    width: 80%;
    border-top: 2px solid grey;
}

p {
    margin: 0;
    padding: 12px 16px;
    font-size: 12px;
}

.get-storage {
    margin: 10px 16px;
    padding: 12px 16px;
    background-color: rgb(212, 237, 236);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;

    &:hover {
        cursor: pointer;
    }
}