:host {
  .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 1.5rem;
      height: 1.5rem;
      stroke: currentColor;
      stroke-width: 1.5;
    }
  }
}
