:host > header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: space-between;
}

:host {
  align-content: space-around;
  background-color: var(--color-panels-bg);
  grid-area: header;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  width: 234px;
  flex: 0 0 234px;
  padding-left: 1rem;

  .brand-logo {
    height: 3rem;
    width: 3rem;
  }

  h1 {
    font-family: Cygre, system-ui, -apple-system, 'Segoe UI', Roboto, Arial, sans-serif;
    font-size: 1.75em;
    margin: 0;
    line-height: 1;
    font-weight: 400;
    color: var(--color-text-brand);
    align-self: center;
    user-select: none;
  }
}

.header-search {
  flex: 1 1 auto;
  min-width: 0;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  nav {
    display: flex;
    align-items: center;
  }

  app-nav-button {
    display: inline-flex;
  }

  app-nav-button button {
    width: auto;
    padding: 0.5rem;
  }
}

// Responsive adjustments
@media (max-width: 1024px) {

}

@media (max-width: 768px) {
  :host {
    display: grid;
    grid-template-columns: 1fr;
    min-width: 430px;

    header {
      gap: 0.5rem;

      .brand {
        flex: auto;
        width: auto;
      }
    }
  }
}

@media (max-width: 480px) {
  :host {
    min-width: 0;

    .brand-logo {
      display: none;
    }

    .brand {
      width: auto;
    }
  }
}
