:host > * {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  gap: 2rem;
  h1{
    font-family: Cygre, NunitoSans, system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  }
}

:host {
  align-content: space-around;
  background-color: #f8fafd;
  grid-area: header;
}

.brand-logo {
  height: 3.5rem;
  width: 3.5rem;
}

.brand-name {
  h1 {
    font-size: 2em;
  }

  .search {
    width: 70%;
  }
}

/* Ensure each direct child of the header host is a flex row item */
